* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  --font-asap: "Asap", sans-serif;
  --title-lg: 700 56px/120% var(--font-asap);
  --title-md: 700 24px/120% var(--font-asap);
  --title-sm: 700 16px/120% var(--font-asap);

  --font-inconsolata: "Inconsolata", monospace;
  --subtitle: 400 20px/120% var(--font-inconsolata);

  --font-manven: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-manven);
  --text-sm: 400 14px/140% var(--font-manven);
}

body {
  background-color: var(--gray-500);
  color: var(--gray-100);
}

.container {
  max-width: 1366px;
  margin-inline: auto;
}

.content-tag {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 999px;
  
  background-color: var(--gray-400);
  font: var(--text-md);
  color: var(--gray-200);

  img {
    width: 24px;
    height: 24px;
  }
}
